* {
  margin: 0;
  box-sizing: border-box;
}
/*GENERAL USE*/
.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 82vh;
}
.flex-row a {
  font-family: "Londrina Solid", cursive;
  font-weight: 300;
  font-size: 1.5rem;

  min-width: 1.8rem;
  fill: #fed218;
  color: #fed218;
  filter: drop-shadow(1px 0.75px 0 rgb(150, 20, 150));
  transition: color 0.25s, fill 0.25s;

  text-decoration: none;
}
.flex-row a:visited {
  color: #fed218;
}
.flex-row a:active {
  color: #fed218;
}
.flex-row a:hover {
  cursor: pointer;
  fill: white;
  color: white;
}
h2 {
  font-family: "Chewy", cursive;
  font-weight: 300;
  font-size: 2rem;
}
p {
  font-family: "Londrina Solid", cursive;
  font-weight: 300;
  font-size: 1.4rem;
}
/**/

/** TOP NAV **/
.top-nav {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;

  width: 100vw;
  padding: 0 2vw;
  height: 8vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
  color: #fed218;

  text-shadow: 1.3px 1.3px 0px rgb(150 20 150);
}
.top-nav p {
  transition: color 0.25s;
}
.top-nav p:hover {
  cursor: pointer;
  color: white;
}

.social_link {
  filter: drop-shadow(1.3px 1.3px 0px rgb(150 20 150));
}

.top-nav img {
  padding-top: 0.5rem;
  height: 8vh;
}
.burger_icon {
  display: none;
}
/**/

/** LANDING BANNER **/
.banner {
  background-image: url("./img/banner_02.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 8vh;
  height: 100vh;
  overflow-y: scroll;

  text-align: center;
  background-position: 50% 25%;
}

.banner h2 {
  color: #fed218;
  text-shadow: 2px 3px 0px rgb(150 20 150);
}

.vendor_links {
  color: #fed218;
  filter: drop-shadow(2px 3px 0px rgb(150 20 150));
}

.banner_title {
  max-width: 532px;
  width: 100%;
  margin: 2vh auto;
}

.vendor_container {
  position: fixed;
  bottom: 0;
  z-index: 3;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  background-color: rgb(20 20 20 / 0.95);
  padding: 1rem;
  border-radius: 0rem 2rem 0rem 0rem;
  border-top: 0.25rem solid #fed218;
  border-right: 0.25rem solid #fed218;
}

.vendor_links {
  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 0.5rem;
}
.vendor_links svg {
  transition: color 0.25s;
}
.vendor_links svg:hover {
  cursor: pointer;
  color: white;
}
/**/
.intro {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 8vh;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.intro_txt {
  width: 50%;
  text-align: left;
}
.introvid_container {
  max-width: 45%;

  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #fed218;
  box-shadow: 4px 4px 0px rgb(150 20 150);
}
.introvid_container video {
  max-width: 100%;
}
.gradient_background {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 12%, rgba(0, 0, 0, 0.9) 32%, rgba(0, 0, 0, 0.6839110644257703) 85%, rgba(0, 0, 0, 0.3839110644257703) 95%, rgba(0, 0, 0, 0) 100%);
}
/** GALLERY **/
.gallery_font {
  font-family: "Permanent Marker", cursive;
  font-weight: 300;
  font-size: 1.8rem;
  color: black;
}

.gallery {
  margin-top: 8vh;
  padding-bottom: 2vh;
}
.gallery_container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2vh 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gallery_container a {
  display: inline-block;
  text-decoration: none;
  transition: transform 1s;
}
.gallery_container a:visited {
  color: black;
}
.gallery_container a:hover {
  z-index: 5;
}
.gallery_item_container {
  display: inline-block;
  height: 300px;
  padding: 1rem;
  background-color: beige;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.35);
  width: 350px;
  transition: box-shadow 0.35s;
}
.gallery_item_container:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}
.gallery_scale {
  transition: transform 0.35s ease;
}
.gallery_scale:hover {
  transform: scale(1.185);
}
.gallery_item {
  transition: filter 0.5s;
  max-width: 100%;
}
.gallery_item {
  filter: sepia(0.75);
}
.gallery_item:hover {
  filter: sepia(0);
}

.popup_background {
  min-height: 92vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 12%, rgba(0, 0, 0, 0.9) 32%, rgba(0, 0, 0, 0.6839110644257703) 85%, rgba(0, 0, 0, 0.3839110644257703) 95%, rgba(0, 0, 0, 0) 100%);
}
.popup {
  width: 94vw;
  max-width: 1200px;
  margin: 0 auto;
}
.popup_img {
  padding: 2rem;
  padding-top: 0.5rem;
  background-color: beige;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.popup img {
  margin-top: 0.5rem;
  width: 100%;
}
.popup a {
  text-decoration: none;
}
.popup h2 {
  text-shadow: 2px 2px 0px rgb(150 20 150);
}
.side_by_side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/** MOBILENAV **/
.mobile_nav {
  display: none;
}

@media (max-width: 768px) {
  .toplink,
  .top-nav p,
  .top-nav .social_link {
    display: none;
  }

  .intro_txt {
    width: 90% !important;
  }

  .introvid_container {
    max-width: 90%;
  }

  .burger_icon {
    font-family: "Londrina Solid", cursive;

    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    cursor: pointer;
  }
  .mobile_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transition: opacity 0.25s;
  }
  .mobile_socials {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .mobile_socials a {
    fill: #fed218;
    width: 5rem;
    filter: drop-shadow(2px 2px 0px rgb(150 20 150));
  }
  .mobile_nav a {
    font-family: "Londrina Solid", cursive;
    font-weight: 300;
    font-size: 5rem;

    min-width: 1.8rem;
    color: #fed218;
    text-shadow: 3px 3px 0px rgb(150 20 150);
    transition: color 0.25s, fill 0.25s;

    text-decoration: none;
  }
  .mobile_nav a:visited {
    color: #fed218;
  }
  .mobile_nav a:active {
    color: #fed218;
  }
  .mobile_nav a:hover {
    cursor: pointer;
    fill: white;
    color: white;
  }
}

/**Webshop**/
.webshop {
  padding-top: 2vh;
  padding-bottom: 5vh;
  min-height: 92vh;
}
.webshop_container {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.webshop_item {
  border-radius: 0.5rem;
  border: 0.5rem solid #fed218;
  box-shadow: 0.2rem 0.2rem 0 rgb(150 20 150);
  background-color: beige;
  width: 90%;
  max-width: 400px;
}
.webshop_item img {
  padding: 0.5rem;
  max-width: 100%;
}
.webshop_button {
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  color: white;
  min-width: 25%;
  font-family: "Londrina Solid", cursive;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgb(150 20 150);
  box-shadow: 2px 2px 0 #b48911;

  transition: background-color 0.25s;
}
.webshop_button:hover {
  background-color: rgb(185 45 185);
}
.webshop_button:active {
  transform: translateY(0.05rem);
  transform: translateX(0.05rem);
  box-shadow: 1.75px 1.75px 0 #b48911;
}

/** REVIEW SECTION **/
.reviews {
  flex-direction: column;
  justify-content: center;
  display: flex;
  min-height: 60vh;
  padding-bottom: 20vh;
  position: relative;
}
.reviews p {
  color: white;
  font-size: 2rem;
}

.review_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  transition: margin 0.5s;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.review_container::-webkit-scrollbar {
  display: none;
}
.review {
  min-width: 100vw;
  padding: 1rem;
}
.review_button {
  display: flex;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  color: white;
  font-family: "Londrina Solid", cursive;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgb(150 20 150);
  box-shadow: 2px 2px 0 #b48911;
  margin: 0 auto;
  width: 12rem;
  transition: background-color 0.25s;
  justify-content: space-around;
  align-items: center;
}
.review_button:hover {
  background-color: rgb(185 45 185);
}
.review_button:active {
  transform: translateY(0.05rem);
  transform: translateX(0.05rem);
  box-shadow: 1.75px 1.75px 0 #b48911;
}
.disclosure_panel {
  margin: 0 auto;
  max-width: 12rem;
  padding: 0.55rem;
  background-color: rgb(150 20 150);
  text-align: left;
  transform: translateY(-0.25rem);
  box-shadow: 2px 2px 0 #b48911;

  color: white;
  font-family: "Londrina Solid", cursive;
  font-size: 1.25rem;
}
.disclosure_panel input {
  border: none;
  border-radius: 0.25rem;
  height: 2rem;
  background-color: beige;
  color: black;
  padding: 0.25rem;
  max-width: 100%;
}
.review_submit {
  background-color: #fed218;
  color: rgb(150 20 150);
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.25rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
/** ANIMATIONs **/
.fade_in {
  animation-name: fade_in_kf;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.porlaroid {
  animation-name: porlaroid_kf;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.opacity {
  animation-name: opacity_kf;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.opacity_backwards {
  animation-name: opacity_backwards_kf;
  animation-duration: 0.25s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.appear {
  animation-name: appear_kf;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fade_in_kf {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes porlaroid_kf {
  0% {
    filter: contrast(0);
  }
  100% {
    filter: contrast(1);
  }
}

@keyframes opacity_kf {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacity_backwards_kf {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(25%);
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes appear_kf {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
